{% extends 'base-human.html.twig' %}

{% block pagetitle %}{{ currentSettlement.name }}{% endblock %}
{% block pagedescription %}ruled by {{ currentSettlementOwner.name }}{% endblock %}

{% block body %}
    {% import _self as this_macros %}
    <style type="text/css">
        #submenu {
            width: 100%;
        }
        #submenu li {
            position: relative;
            float: left;
        }
        #submenu li a {
            padding: 15px;
        }
        #subbody {
            position: relative;
            float: left;
            width: 100%;
        }

    </style>
    <button id="show-hidden-menu-button" class="ui-state-default ui-corner-all" onclick="return false;">Show others</button>
    <div class="menu-settlements toggler">
        <ul>
            <li style="width: 100%; height: 40px;">
                {{ this_macros.settlementMenu(planet, settlement) }}
            </li>
        </ul>
        <ul id="hidden-menu" class="effect">
            {% for title in human.titles %}
                {% if title.settlement != settlement %}
                    <li style="width: 100%; height: 40px;">
                        <strong>{{ title.name }}</strong>
                        <a href="">Go to</a>
                        <small>TODO: upravit urly</small>
                        {{ this_macros.settlementMenu(planet, title.settlement) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div id="subbody">{% block subbody %}{% endblock %}</div>

    <script type="text/javascript">
        $(function() {
            $('.log-modal').each(function() {
                $(this).on('click', function () {
                    console.log(this);
                    var $link = $(this);
                    var $dialog = $('<div class="log-modal-dialog"></div>')
                        .load($link.attr('href'))
                        .dialog({
                            autoOpen: false,
                            title: $link.attr('title'),
                            width: 800,
                            height: 500
                        });

                    $dialog.dialog('open');
                    return false;
                });
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% macro settlementMenu(planet, settlement) %}
    <ul id="submenu">
        <li><a href="{{ path('map_dashboard', { 'planet': planet.id, 'settlement': settlement.id }) }}">Map</a></li>
        <li><a href="{{ path('settlement_dashboard', { 'planet': planet.id, 'settlement': settlement.id }) }}">Dashboard</a></li>
        <li><a href="{{ path('settlement_jobs', { 'planet': planet.id, 'settlement': settlement.id }) }}">Jobs</a></li>
        <li><a href="{{ path('settlement_buildings', { 'planet': planet.id, 'settlement': settlement.id }) }}">Buildings</a></li>
        <li><a href="{{ path('settlement_demo', { 'planet': planet.id, 'settlement': settlement.id }) }}">Demography</a></li>
        <li><a href="{{ path('settlement_farming', { 'planet': planet.id, 'settlement': settlement.id }) }}">Farming</a></li>
        <li><a href="{{ path('settlement_housing', { 'planet': planet.id, 'settlement': settlement.id }) }}">Housing</a></li>
        <li><a href="{{ path('settlement_warehouses', { 'planet': planet.id, 'settlement': settlement.id }) }}">Storage</a></li>
        <li><a href="{{ path('trade_list', { 'planet': planet.id, 'settlement': settlement.id }) }}">Trade</a></li>
        <li><a href="{{ path('settlement_events', { 'planet': planet.id, 'settlement': settlement.id }) }}" class="log-modal">Log</a></li>
    </ul>
{% endmacro %}