{% extends 'Settlement/base.html.twig' %}

{% block pagetitle %}Demography in {{ settlement.name }}{% endblock %}

{% block datapanel %}
    {% import _self as this_macros %}
    {{ this_macros.printView(demographyView) }}
{% endblock %}

{% block subbody %}
    {% import _self as this_macros %}
    <strong>Information about borns, deaths and living space.</strong>
    <style type="text/css">
        .map-region {
            float: left;
            width: 100px;
            margin: 10px;
        }
    </style>
<div>
    {% for data in regions %}
        {% set region = data.region %}
        {% if region.settlement %}
            {% if region.settlement == settlement %}
                <div title="{{ region.name }}" class="map-region">{{ this_macros.ownedRegion(region, data.view) }}</div>
            {% else %}
                <div title="{{ region.name }}" class="map-region">{{ this_macros.foreignRegion(region) }}</div>
            {% endif %}
        {% else %}
            <div class="map-region">{{ this_macros.freeRegion(region) }}</div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% macro freeRegion(region) %}
    {% if currentSettlement.isNeighbour(region) %}
        <a href="{{ path('settlement_connect_regions', {
            'planet': planet.id,
            'settlement': currentSettlement.id,
            'peakC': region.peakCenter.id,
            'peakL': region.peakLeft.id,
            'peakR': region.peakRight.id }) }}">
            +{{ region.name }}
        </a>
    {% else %}
        <small>{{ region.name }}</small>
    {% endif %}
{% endmacro %}

{% macro foreignRegion(region) %}
    <small>Used area: {{ region.usedArea|area }}/{{ region.area|area }} ({{ 100*region.usedArea/ region.area}} %)</small><br>
{% endmacro %}

{% macro ownedRegion(region, view) %}
    {% import _self as this_macros %}
    {{ this_macros.printView(view) }}
    <small>Used area: {{ region.usedArea|area }}/{{ region.area|area }} ({{ 100*region.usedArea/ region.area}} %)</small><br>

    {% if region.project is null %}
        {% set modalId = "buildings-modal-for-"~ region.coords %}
        <a href="#{{ modalId }}" rel="modal:open">Build</a>
        <div class="buildings-modal modal" id="{{ modalId }}">
            <a href="#" rel="modal:close">Close</a>
            {{ render(controller('PlanetBundle:Region:availableBuildings', {
                'planet': planet.id,
                'peakC': region.peakCenter.id,
                'peakL': region.peakLeft.id,
                'peakR': region.peakRight.id
            })) }}
        </div>
    {% else %}
        Project {{ region.project.buildingBlueprint.description }}...
        <a href="{{ path('settlement_fast_build', {
            'project': region.project.id
        }) }}">Supervised build</a>
        <br/> {{ dump(region.project.missingResources) }}
        <ul>
            {% for notification in region.project.notifications %}
                <li>{{ notification.description }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro printView(view) %}
    <dt>People:</dt>
    <dd>{{ view.peopleCount }}
        {% if view.peopleBorns > 0 %}
            <small>+{{ view.peopleBorns }}</small>
        {% endif %}
        {% if view.peopleDeaths > 0 %}
            <small>-{{ view.peopleDeaths }}</small>
        {% endif %}
        {% if view.peopleCountDiff > 0 %}
            <small>&epsilon;{{ view.peopleCountDiff }}</small>
        {% endif %}
    </dd>

    <dt>Housing capacity:</dt>
    <dd>{{ view.housingCapacity }}</dd>
    {% if view.houses|length > 0 %}
        <ul>
            {% for concept, count in view.houses %}
                <li>
                    {{ count }}&times; {{ concept }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}



