{% extends 'base.html.twig' %}

{% block pagetitle %}
    {{ human.name }} -
    {% if human.title != null %}
		{% if human.title.superiorTitle == null %}
			Sovereign <strong>{{ human.title.name }}</strong>
		{% else %}
			<strong>{{ human.title.name }}</strong>, vassal
		{% endif %}
	{% else %}
		<small>lowborn</small>
    {% endif %}
{% endblock %}

{% block pagedescription %}
	{% if human.currentPeakPosition.settlement != null %}
		Person journal, currently in <a href="{{ path('settlement_dashboard', {'planet': human.planet.id, 'settlement': planet.currentPeakPosition.settlement.id}) }}">{{ planet.currentPeakPosition.settlement.name }}</a>
	{% else %}
		Person journal, currently without position
	{% endif %}
{% endblock %}

{% block body %}
	{% import _self as this_macros %}
	Children:
	{% for child in children %}
		{{ child.name }},
	{% endfor %}
	<br/>
	{% if human.deathTime == null %}
		<a href="{{ path('human_create_children') }}">Make offspring</a>, <a href="{{ path('human_suicide') }}">commit suicide</a> <br/>
	{% else %}
		Died {{ human.deathTime|date('d. m. Y h:i') }}<br/>
	{% endif %}

	{% for title in human.titles %}
		{% set modalId = "title-modal-for-"~title.id %}
		<h4>{{ title.name }},
			<a href="#{{ modalId }}" rel="modal:open"><small>succession line</small></a>, <small><a href="{{ path('settlement_dashboard', {'planet': human.planet.id, 'settlement': title.settlement.id }) }}">go to settlement</a></small>
		</h4>

		<ol class="succession-modal modal" id="{{ modalId }}">
			{% for heir in title.lineOfSuccession %}
				<li>{{ heir.name }}</li>
			{% endfor %}
		</ol>
	{% endfor %}


	<dt>Alltime feelings</dt>
    <dd>{{ human.feelings.allLife }}</dd>
    <dd>+{{ human.feelings.allLifeHappiness }}/-{{ human.feelings.allLifeSadness }}</dd>
	<dt>Last period feelings</dt>
	<dd>{{ human.feelings.lastPeriod }}</dd>
    <dd>+{{ human.feelings.lastPeriodHappiness }}/-{{ human.feelings.lastPeriodSadness }}</dd>
	<dt>This time</dt>
	<dd>{{ human.feelings.thisTime }}</dd>
    <dd>+{{ human.feelings.thisTimeHappiness }}/-{{ human.feelings.thisTimeSadness }}</dd>

	<a href="{{ path('human_happy', {'change': 1}) }}">Happy +1</a>
	<a href="{{ path('human_happy', {'change': 10}) }}">+10</a>
	<a href="{{ path('human_happy', {'change': 50}) }}">+50</a>
	<a href="{{ path('human_happy', {'change': 100}) }}">+100</a><br />
	<a href="{{ path('human_sad', {'change': 1}) }}">Sad +1</a>
	<a href="{{ path('human_sad', {'change': 10}) }}">+10</a>
	<a href="{{ path('human_sad', {'change': 50}) }}">+50</a>
	<a href="{{ path('human_sad', {'change': 100}) }}">+100</a><br />

	<ul>
		{% for feelingChange in human.feelings.history %}
			<li>
				{{ feelingChange.time }}# {{ feelingChange.planetPhase }}@{{ feelingChange.planet.name }}; {{ feelingChange.change }}, {{ feelingChange.description }}
				{{ dump(feelingChange.descriptionData) }}
			</li>
		{% endfor %}
	</ul>

	<style type="text/css">
		#souls {
			width: 100%;
			margin: 30px;
		}
		#souls ul,
		#souls li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#souls div {
			width: 100%;
			padding: 10px;
			box-sizing: border-box;
		}

		#souls .souls li.human {
			list-style: square;
			margin-left: 20px;
			padding-left: 25px;
		}

		#souls .header {
			background-color: #6b9311;
		}

		#souls .footer {
			background-color: #7DA0B1;
			text-align: right;
		}
	</style>
{% endblock %}

{% macro aligment_souls(souls, alignment) %}
	{% if souls is empty %}
		<small>There are no souls nor humans</small>
	{% else %}
	<ul class="souls">
		{% for soul in souls %}
			<li class="soul">
				<div class="header">
					<strong>{{ soul.name }}</strong>
					<a href="{{ path('human_incarnation_list', {'soul': soul.id }) }}">
						{% if soul.incarnations is empty %}take first human{% else %}take another human{% endif %}
					</a>
				</div>

				{% if soul.incarnations is not empty %}
					<ul class="people">
					{% for human in soul.incarnations %}
						<li class="human"><a href="{{ path('gamer_play_as_human', {'human': human.id }) }}">Play as {{ human.name }}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}

	<div class="footer">
		<a href="{{ path('soul_create_new', {'alignment': alignment}) }}">Create new soul</a>
	</div>
{% endmacro %}